#### This Notebook will <li> import the 2016 population estimates <li> import the state table to join the abbreviations to state name <li> calculate the percentage of the US population in each state and DC <li> read in the stored data of grouped submissions by state <li> merge the datasets and calculate the difference from the percentage of submissions by that state

To do the EDA of the source of comments we import the latest estimated census data, from 2016

In [1]:
## import packages
import pandas as pd
import numpy as np

Calculate % of US Population in each state & DC from 2016 Census Estimates.

In [2]:
#read in the 2016 population estimates
pop_df = pd.read_csv('sub-est2016_all.csv', encoding='latin-1')

In [3]:
#explore
pop_df.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780131,4785492,4799918,4815960,4829479,4843214,4853875,4863300
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2688,2688,2683,2685,2647,2631,2619,2616,2603
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4522,4522,4517,4495,4472,4447,4428,4395,4360
3,162,1,0,484,0,0,0,A,Addison town,Alabama,758,756,754,753,748,748,747,740,738
4,162,1,0,676,0,0,0,A,Akron town,Alabama,356,356,355,345,345,342,337,337,334

In [4]:
#select only the columns we need
pop_df = pop_df[['POPESTIMATE2016',"NAME","STNAME"]]

In [5]:
#trim down rows so that we have excluded county population estimates
pop_df = pop_df[pop_df.STNAME==pop_df.NAME]

In [6]:
#explore trimed rows - ! notice DC is both a county and state and is duplicated
pop_df.head(10)

      POPESTIMATE2016                  NAME                STNAME
0             4863300               Alabama               Alabama
1105           741894                Alaska                Alaska
1452          6931071               Arizona               Arizona
1673          2988248              Arkansas              Arkansas
2848         39250017            California            California
3925          5540545              Colorado              Colorado
4616          3576452           Connecticut           Connecticut
4901           952065              Delaware              Delaware
5025           681170  District of Columbia  District of Columbia
5027           681170  District of Columbia  District of Columbia

In [7]:
# drop duplicate rows of DC
pop = pop_df.drop_duplicates(subset=['NAME','STNAME'])

In [31]:
#explore
pop.head(9)

      POPESTIMATE2016                  NAME                STNAME  perc_pop
0             4863300               Alabama               Alabama      1.51
1105           741894                Alaska                Alaska      0.23
1452          6931071               Arizona               Arizona      2.14
1673          2988248              Arkansas              Arkansas      0.92
2848         39250017            California            California     12.15
3925          5540545              Colorado              Colorado      1.71
4616          3576452           Connecticut           Connecticut      1.11
4901           952065              Delaware              Delaware      0.29
5025           681170  District of Columbia  District of Columbia      0.21

Read in table of State abbreviations.

In [10]:
#read in state abbreviation names
states_df = pd.read_csv('state_table.csv')

In [48]:
#explore
states_df

              name abbreviation
0          Alabama           AL
1           Alaska           AK
2          Arizona           AZ
3         Arkansas           AR
4       California           CA
5         Colorado           CO
6      Connecticut           CT
7         Delaware           DE
8          Florida           FL
9          Georgia           GA
10          Hawaii           HI
11           Idaho           ID
12        Illinois           IL
13         Indiana           IN
14            Iowa           IA
15          Kansas           KS
16        Kentucky           KY
17       Louisiana           LA
18           Maine           ME
19        Maryland           MD
20   Massachusetts           MA
21        Michigan           MI
22       Minnesota           MN
23     Mississippi           MS
24        Missouri           MO
25         Montana           MT
26        Nebraska           NE
27          Nevada           NV
28   New Hampshire           NH
29      New Jersey           NJ
30      New Mexico           NM
31        New York           NY
32  North Carolina           NC
33    North Dakota           ND
34            Ohio           OH
35        Oklahoma           OK
36          Oregon           OR
37    Pennsylvania           PA
38    Rhode Island           RI
39  South Carolina           SC
40    South Dakota           SD
41       Tennessee           TN
42           Texas           TX
43            Utah           UT
44         Vermont           VT
45        Virginia           VA
46      Washington           WA
47   West Virginia           WV
48       Wisconsin           WI
49         Wyoming           WY
50   Washington DC           DC

In [12]:
# reduce to state name and abbreviation
states_df = states_df[['name','abbreviation']]

Do the calculations.

In [13]:
# calculate % of pop in eact state and round to nearest 2 decimal places
pop['perc_pop'] = ((pop['POPESTIMATE2016']/pop['POPESTIMATE2016'].sum())*100).round(2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [53]:
pop.head(9)

      POPESTIMATE2016           NAME                STNAME  perc_pop
0             4863300        Alabama               Alabama      1.51
1105           741894         Alaska                Alaska      0.23
1452          6931071        Arizona               Arizona      2.14
1673          2988248       Arkansas              Arkansas      0.92
2848         39250017     California            California     12.15
3925          5540545       Colorado              Colorado      1.71
4616          3576452    Connecticut           Connecticut      1.11
4901           952065       Delaware              Delaware      0.29
5025           681170  Washington DC  District of Columbia      0.21

Replace District of Columbia with Washington DC as NAME, STNAME.

In [54]:
#replacing the contents of a cell across a column
pop['STNAME'] = pop['STNAME'].replace({"District of Columbia":"Washington DC" })

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [55]:
#merge 2 dataframes on state name
pop_perc = pd.merge(pop, states_df, left_on='NAME',right_on='name', how='left')

In [57]:
pop_perc.head(9)

,POPESTIMATE2016,NAME,STNAME,perc_pop,name,abbreviation
0,4863300,Alabama,Alabama,1.51,Alabama,AL
1,741894,Alaska,Alaska,0.23,Alaska,AK
2,6931071,Arizona,Arizona,2.14,Arizona,AZ
3,2988248,Arkansas,Arkansas,0.92,Arkansas,AR
4,39250017,California,California,12.15,California,CA
5,5540545,Colorado,Colorado,1.71,Colorado,CO
6,3576452,Connecticut,Connecticut,1.11,Connecticut,CT
7,952065,Delaware,Delaware,0.29,Delaware,DE
8,681170,Washington DC,Washington DC,0.21,Washington DC,DC

In [58]:
# delete unwanted columns
del pop_perc['NAME']
del pop_perc['STNAME']

In [59]:
#save as CSV file
pop_perc.to_csv('FCC_pop_perc.csv',index=False)

Calculate percentage of comments from each state and DC

In [21]:
# >> Stored 'data' (str)
%store -r df

In [22]:
df.head()

,id,date_submission,contact_email,text_data,filers,address_line_1,city,express_comment,state,intl_address,combined_zip,flagged_zip,Place_Name,State_Abbreviation
0,59f8b2bb50b733300f069dc9,2017-07-11T15:53:55.361Z,YaroslavKalinina@pornhub.com,Allowing broadband providers to throttle their...,"[{""name"":""Yaroslav Kalinina""}]",NaN,NaN,NaN,NaN,"{""addresstext"":""3575 Eagle Lane\n55792,Virgini...",55792,1,Virginia,MN
1,59f8b2bb50b733300f069dca,2017-07-11T15:53:55.390Z,GalinaMedvedeva@pornhub.com,We need net neutralityto continue. A free and ...,"[{""name"":""Galina Medvedeva""}]",NaN,NaN,NaN,NaN,"{""addresstext"":""2245 Lodgeville Road\n55415,Mi...",55415,1,Minneapolis,MN
2,59f8b2bb50b733300f069dcb,2017-07-11T15:53:55.449Z,PhilemonButusov@pornhub.com,make sure net neutrality does not dissapear. I...,"[{""name"":""Philemon Butusov""}]",NaN,NaN,NaN,NaN,"{""addresstext"":""4702 Ashmor Drive\n55802,Dulut...",55802,1,Duluth,MN
3,59f8b2bb50b733300f069dcc,2017-07-11T15:53:55.473Z,BarbaraUlyanova@pornhub.com,We need net neutralityto continue. A free and ...,"[{""name"":""Barbara Ulyanova""}]",NaN,NaN,NaN,NaN,"{""addresstext"":""2323 Lodgeville Road\n55406,Mi...",55406,1,Minneapolis,MN
4,59f8b2bb50b733300f069dcd,2017-07-11T15:53:55.512Z,MatildaZhdanova@pornhub.com,Please save the internet from the corporations...,"[{""name"":""Matilda Zhdanova""}]",NaN,NaN,NaN,NaN,"{""addresstext"":""2135 Lena Lane\n39401,Hattiesb...",39401,1,Hattiesburg,MS

In [23]:
g1 = df.groupby( [ "State_Abbreviation"] ).count()

In [24]:
g1.reset_index() # note territories and

,State_Abbreviation,id,date_submission,contact_email,text_data,filers,address_line_1,city,express_comment,state,intl_address,combined_zip,flagged_zip,Place_Name
0,AK,4441,4441,2743,4434,4441,4411,4412,40,4413,2948,4441,4441,4441
1,AL,29970,29970,22519,29961,29970,29903,29910,109,29910,22473,29970,29970,29970
2,AP,3,3,2,3,3,3,3,0,3,2,3,3,3
3,AR,15605,15605,12221,15599,15605,15561,15562,64,15562,10785,15605,15605,15605
4,AZ,36573,36573,23569,36537,36573,36298,36321,576,36321,23448,36573,36573,36573
5,CA,216119,216119,129713,215879,216119,213781,214037,2010,214034,137250,216119,216119,216119
6,CO,37914,37914,23635,37872,37914,37578,37619,349,37619,23848,37914,37914,37914
7,CT,24834,24834,10725,24816,24834,24649,24679,204,24679,18250,24834,24834,24834
8,DC,4962,4962,3366,4863,4962,4892,4901,27,4901,2750,4962,4962,4962
9,DE,4723,4723,3208,4719,4723,4686,4691,48,4691,3328,4723,4723,4723
10,FL,125912,125912,75080,125840,125912,125314,125384,920,125385,87103,125912,125912,125912
11,FM,3,3,2,3,3,3,3,0,3,2,3,3,3
12,GA,66270,66270,39703,66243,66270,66088,66112,417,66107,47424,66270,66270,66270
13,HI,7905,7905,5796,7894,7905,7833,7846,70,7848,5735,7905,7905,7905
14,IA,18150,18150,9866,18136,18150,18025,18034,97,18034,12800,18150,18150,18150
15,ID,9551,9551,6252,9540,9551,9457,9465,54,9466,6223,9551,9551,9551
16,IL,75767,75767,39596,75699,75767,75189,75244,592,75246,50682,75767,75767,75767
17,IN,40901,40901,24159,40879,40901,40662,40674,194,40675,29064,40901,40901,40901
18,KS,15841,15841,11311,15830,15841,15728,15741,98,15738,10404,15841,15841,15841
19,KY,25027,25027,16450,25013,25027,24876,24886,119,24888,17423,25027,25027,25027
20,LA,25048,25048,19259,25034,25048,24963,24969,94,24972,17649,25048,25048,25048
21,MA,50252,50252,21536,50198,50252,49867,49898,439,49901,35959,50252,50252,50252
22,MD,38133,38133,17237,38100,38133,37489,37505,273,37504,28462,38133,38133,38133
23,ME,7834,7834,4965,7825,7834,7752,7756,68,7757,5366,7834,7834,7834
24,MI,64121,64121,33906,64073,64121,63087,63114,374,63117,44380,64121,64121,64121
25,MN,34478,34478,18492,34443,34478,33778,33798,212,33799,23776,34478,34478,34478
26,MO,32909,32909,23757,32889,32909,32725,32738,209,32739,20824,32909,32909,32909
27,MP,27,27,22,27,27,27,27,0,27,22,27,27,27
28,MS,20764,20764,16050,20759,20764,18830,18832,46,18833,16625,20764,20764,20764
29,MT,7671,7671,4336,7662,7671,7621,7629,44,7629,5354,7671,7671,7671
30,NC,59854,59854,35565,59818,59854,59611,59637,371,59640,42534,59854,59854,59854
31,ND,4340,4340,2370,4338,4340,4324,4325,12,4325,3122,4340,4340,4340
32,NE,10326,10326,6801,10322,10326,10282,10289,44,10290,6759,10326,10326,10326
33,NH,9500,9500,4798,9488,9500,9430,9436,89,9437,6782,9500,9500,9500
34,NJ,62151,62151,25906,62107,62151,61825,61854,472,61857,46454,62151,62151,62151
35,NM,11697,11697,8362,11687,11697,11566,11582,129,11582,7844,11697,11697,11697
36,NV,15830,15830,10711,15817,15830,15728,15738,112,15739,9655,15830,15830,15830
37,NY,117763,117763,57095,117649,117763,116767,116875,942,116881,83205,117763,117763,117763
38,OH,70473,70473,40260,70432,70473,70195,70229,411,70233,49689,70473,70473,70473
39,OK,20296,20296,15567,20285,20296,20230,20241,83,20241,13836,20296,20296,20296
40,OR,42222,42222,29045,42159,42222,35811,35849,1551,35850,29656,42222,42222,42222
41,PA,79664,79664,43362,79611,79664,79155,79197,524,79202,56751,79664,79664,79664
42,PW,1,1,1,1,1,1,1,0,1,1,1,1,1
43,RI,7160,7160,3121,7158,7160,7115,7116,51,7117,5325,7160,7160,7160
44,SC,30038,30038,18824,30022,30038,29958,29964,138,29965,22351,30038,30038,30038
45,SD,4113,4113,2512,4109,4113,4101,4102,22,4102,2716,4113,4113,4113
46,TN,41243,41243,26198,41229,41243,41079,41100,195,41101,29217,41243,41243,41243
47,TX,135882,135882,93550,135769,135882,135406,135471,790,135484,85572,135882,135882,135882
48,UT,18077,18077,11071,18058,18077,17993,18009,133,18011,10850,18077,18077,18077
49,VA,64805,64805,40173,64736,64805,64553,64582,366,64585,36286,64805,64805,64805
50,VT,4118,4118,2707,4116,4118,4054,4065,43,4065,2729,4118,4118,4118
51,WA,54910,54910,29399,54809,54910,53655,53716,467,53714,36881,54910,54910,54910
52,WI,35367,35367,18131,35334,35367,35153,35172,225,35173,25835,35367,35367,35367
53,WV,9188,9188,6423,9183,9188,9152,9154,32,9154,6566,9188,9188,9188
54,WY,3077,3077,2291,3076,3077,3068,3069,14,3069,2064,3077,3077,3077

In [26]:
g1.reset_index(level=0, inplace=True)

In [27]:
g2 = g1[["State_Abbreviation","filers"]]

In [28]:
g2.head()

  State_Abbreviation  filers
0                 AK    4441
1                 AL   29970
2                 AP       3
3                 AR   15605
4                 AZ   36573

In [29]:
# calculate percentage proportions
g2['perc_comments'] = ((g2['filers']/g2['filers'].sum())*100).round(2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
g2.head(9)

  State_Abbreviation  filers  perc_comments
0                 AK    4441           0.23
1                 AL   29970           1.53
2                 AP       3           0.00
3                 AR   15605           0.80
4                 AZ   36573           1.87
5                 CA  216119          11.06
6                 CO   37914           1.94
7                 CT   24834           1.27
8                 DC    4962           0.25

Merge population percentage with FCC comments percentage

In [60]:
#merge 2 dataframes on state name
pop_perc = pd.merge(pop_perc, g2, left_on='abbreviation',right_on='State_Abbreviation', how='left')

In [62]:
pop_perc.head(9)

,POPESTIMATE2016,perc_pop,name,abbreviation,State_Abbreviation,filers,perc_comments
0,4863300,1.51,Alabama,AL,AL,29970,1.53
1,741894,0.23,Alaska,AK,AK,4441,0.23
2,6931071,2.14,Arizona,AZ,AZ,36573,1.87
3,2988248,0.92,Arkansas,AR,AR,15605,0.80
4,39250017,12.15,California,CA,CA,216119,11.06
5,5540545,1.71,Colorado,CO,CO,37914,1.94
6,3576452,1.11,Connecticut,CT,CT,24834,1.27
7,952065,0.29,Delaware,DE,DE,4723,0.24
8,681170,0.21,Washington DC,DC,DC,4962,0.25

Calculate Difference between comments and population proportions.

In [63]:
pop_perc.to_csv('FCC_pop_comments_perc.csv')

In [64]:
FCC_pop_comments_perc= pop_perc

In [70]:
FCC_pop_comments_perc['diff_perc_pop_comments'] = FCC_pop_comments_perc['perc_pop']-FCC_pop_comments_perc['perc_comments']

In [71]:
FCC_pop_comments_perc.head(10)

,POPESTIMATE2016,perc_pop,name,abbreviation,State_Abbreviation,filers,perc_comments,diff_prop_pop_prop_com,diff_perc_pop_comments
0,4863300,1.51,Alabama,AL,AL,29970,1.53,-0.02,-0.02
1,741894,0.23,Alaska,AK,AK,4441,0.23,0.00,0.00
2,6931071,2.14,Arizona,AZ,AZ,36573,1.87,0.27,0.27
3,2988248,0.92,Arkansas,AR,AR,15605,0.80,0.12,0.12
4,39250017,12.15,California,CA,CA,216119,11.06,1.09,1.09
5,5540545,1.71,Colorado,CO,CO,37914,1.94,-0.23,-0.23
6,3576452,1.11,Connecticut,CT,CT,24834,1.27,-0.16,-0.16
7,952065,0.29,Delaware,DE,DE,4723,0.24,0.05,0.05
8,681170,0.21,Washington DC,DC,DC,4962,0.25,-0.04,-0.04
9,20612439,6.38,Florida,FL,FL,125912,6.44,-0.06,-0.06

In [72]:
#CHANGED TO PERC2
FCC_pop_comments_perc.to_csv('FCC_pop_comments_perc2.csv',index=False)